h1 {
  text-align: left;
  font-size: 2em;
  color: #009;
  margin-bottom: .3em;
  text-decoration: underline;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;
  background-color: #ffc;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}